<!DOCTYPE html>
<html lang="pt_br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta codigoSecreto="1696690584">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/style-info-cliente.css}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
<link rel="icon" th:href="@{/public/favicon.ico}" type="image/x-icon"/>
<title>AgroPopShop - by allenBruno</title>
</head>
<body>
	<ul>
		<li><a th:href="@{/}">Início</a></li>
		<li><a th:href="@{/adicionarCliente}">Cadastro de clientes</a></li>
		<li><a th:href="@{/listarClientes}">Listar Clientes</a></li>
		<li><a th:href="@{/admin/adicionarProduto}">Cadastro de produtos</a></li>
		<li><a th:href="@{/admin/listarProdutos}">Listar produtos</a></li>
		<li style="float:right"><a href="#about">Sobre o Site</a></li>
	  </ul>
	  
	<div id="info-cliente" th:object="${cliente}">
		<h2>Informações do cliente</h2>
		<div id="nome-info-cliente">
			<h3>Nome:</h3>
			<p th:text="${cliente.nomeCompleto}"></p>
		</div>
		<div id="genero-info-cliente">
			<h3>Gênero:</h3>
			<p th:text="${cliente.genero}"></p>
		</div>
		<div id="email-info-cliente">
			<h3>E-mail:</h3>
			<p><a th:href="'mailto:' +${cliente.email}"th:text="${cliente.email}"></a></p>
		</div>
		<div id="telefone-info-cliente">
			<h3>Telefone:</h3>
			<p th:text="${cliente.telefone}"></p>
		</div>
		<div id="cep-info-cliente">
			<h3>CEP:</h3>
			<p th:text="${cliente.cep}"></p>
		</div>
		<div id="estado-info-cliente">
			<h3>Estado:</h3>
			<p th:text="${cliente.uf}"></p>
		</div>
		<div id="cidade-info-cliente">
			<h3>Cidade:</h3>
			<p th:text="${cliente.cidade}"></p>
		</div>
		<div id="bairro-info-cliente">
			<h3>Bairro:</h3>
			<p th:text="${cliente.bairro}"></p>
		</div>
		<div id="endereço-info-cliente">
			<h3>Endereço:</h3>
			<p th:text="${cliente.rua}"></p>
		</div>
		<div id="numero-info-cliente">
			<h3>Número:</h3>
			<p th:text="${cliente.numero}"></p>
		</div>
		<div id="complemento-info-cliente">
			<h3>Complemento:</h3>
			<p th:text="${cliente.complemento}"></p>
		</div>
		<div id="btn-info-cliente">
			<div id="editar-info-cliente">
				<p><a th:href="@{/editar/{id}(id=${cliente.id})}">Editar</a></p>
			</div>
			<div id="remover-info-cliente">
				<p><a th:href="@{/remover/{id}(id=${cliente.id})}">Remover</a></p>
			</div>
		</div>
	</div>

	<div id="dependente-info-cliente">
		<h2>Depentendes</h2>

	</div>
	
	
</body>
</html>