<!DOCTYPE html>
<html lang="pt_br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta codigoSecreto="1696690584">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/style-lista-cliente.css}">
<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
<link rel="icon" href="public/favicon.ico" type="image/x-icon"/>
<title>Admin AgroPopShop - by allenBruno</title>
</head>
<body>
	<ul>
		<li><a th:href="@{/}">Início</a></li>
		<li><a th:href="@{/adicionarCliente}">Cadastro de clientes</a></li>
		<li><a th:href="@{/listarClientes}">Listar Clientes</a></li>
		<li><a th:href="@{/admin/adicionarProduto}">Cadastro de produtos</a></li>
		<li><a th:href="@{/admin/listarProdutos}">Listar produtos</a></li>
		<li style="float:right"><a href="#about">Sobre o Site</a></li>
	  </ul>
	<div id="lista-clientes">
		<h1>Lista de clientes cadastrados:</h1>
		<table>
			<thead>
				<tr>
					
					<th>Nome</th>
						
				</tr>
			</thead>
			<tbody>
				<tr th:each="dependente: ${dependentes}">
					<td th:text="${dependente.nomeCompleto}"></td>
					
					</tr>
			</tbody>

		</table>
	</div>
	
	
</body>
</html>