<!DOCTYPE html>
<html lang="pt_br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/style-lista-cliente.css}">
<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
<link rel="icon" href="public/favicon.ico" type="image/x-icon"/>
<title>PWeb - by allenBruno</title>
</head>
<body>
	<ul>
		<li><a th:href="@{/}">Início</a></li>
		<li><a th:href="@{/adicionarCliente}">Cadastro de clientes</a></li>
		<li><a th:href="@{/listarClientes}">Listar Clientes</a></li>
		<li><a th:href="@{/admin/adicionarProduto}">Cadastro de produtos</a></li>
		<li><a th:href="@{/admin/listarProdutos}">Listar produtos</a></li>
		<li style="float:right"><a href="#about">Sobre o Site</a></li>
	  </ul>
	<div id="lista-clientes">
		<h1>Lista de produtos cadastrados:</h1>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>Nome do produto</th>
					<th>Marca</th>
					<th>Preço</th>
					<th>Peso</th>
					<th>Altura</th>
					<th>Largura</th>
					<th>Profundidade</th>
					<th>Editar</th>
					<th>Remover</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto: ${produtos}">
					<td th:text="${produto.id}"></td>
					<td th:text="${produto.nomeProduto}"></td>
					<td th:text="${produto.marca}"></td>
					<td th:text="${produto.preco}"></td>
					<td th:text="${produto.peso}"></td>
					<td th:text="${produto.altura}"></td>
					<td th:text="${produto.largura}"></td>
					<td th:text="${produto.profundidade}"></td>
					<td><a th:href="@{/editarProduto/{id}(id=${produto.id})}">Editar</a></td>
					<td><a th:href="@{/removerProduto/{id}(id=${produto.id})}">Remover</a></td>
					</tr>
			</tbody>

		</table>
	</div>
	
	
</body>
</html>