<!DOCTYPE html>
<html lang="pt_br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
<link rel="icon" href="public/favicon.ico" type="image/x-icon"/>
<title>PWeb - by allenBruno</title>
</head>
<body>
	<ul>
		<li><a th:href="@{/}">Início</a></li>
		<li><a th:href="@{/adicionarCliente}">Cadastro de clientes</a></li>
		<li><a th:href="@{/listarClientes}">Listar Clientes</a></li>
		<li style="float:right"><a href="#about">Sobre o Site</a></li>
	  </ul>
	<div id="lista-clientes">
		<h1>Lista de clientes cadastradas</h1>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>Nome</th>
					<th>E-mail</th>
					<th>Informações</th>	
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente: ${clientes}">
					<td th:text="${cliente.id}"></td>
					<td th:text="${cliente.nomeCompleto}"></td>
					<td><a th:href="'mailto:' +${cliente.email}" th:text="${cliente.email}"></a></td>
					<td><a th:href="@{admin/infoCliente/{id}(id=${cliente.id})}"><span class="material-icons md-18">search</span></a></td>
					</tr>
			</tbody>

		</table>
	</div>
	
	
</body>
</html>