<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSecreto="1696690584">
    <link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/style-cadastro.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="icon" href="public/favicon.ico" type="image/x-icon"/>
    <title>AgroPopShop - by allenBruno</title>
</head>
<body>
	<ul>
		<li><a th:href="@{/}">Início</a></li>
		<li><a th:href="@{/adicionarCliente}">Cadastro de clientes</a></li>
		<li><a th:href="@{/listarClientes}">Listar Clientes</a></li>
		<li><a th:href="@{/admin/adicionarProduto}">Cadastro de produtos</a></li>
		<li><a th:href="@{/admin/listarProdutos}">Listar produtos</a></li>
		<li style="float:right"><a href="#about">Sobre o Site</a></li>
	  </ul>

	<div id="container-cadastro-cliente">
	<h1>Cadastro de cliente</h1>
	<form method="POST" th:object="${cliente}" th:action="@{adicionarCliente}" id="form-cadastro-cliente">
		<div class="campos">	
			<p>Nome Completo<p>
			<input type="text" name="name" id="nome" th:field="*{nomeCompleto}">
			<p>e-Mail<p>
			<input type="email" name="email" id="email" th:field="*{email}">
			<p>Telefone</p>
			<input type="text" class="telefone" placeholder="Ex.: (00) 0000-0000" th:field="*{telefone}">
		</div>
		<div id="genero">
			<p class="sexo" id="sexo">Gênero:</p>
			<select th:field="*{genero}" id="select-genero">
				<option value="Masculino">Masculino</option>
				<option value="Feminino">Feminino</option>
				<option value="Não Informado">Não Informar</option>	
			</select>
		</div>
		<div class="campos">
			<p>Cep</p>
			<input type="text" name="cep" id="cep" placeholder="Ex. 12345000" th:field="*{cep}">
			<div id="estado">
			<p>Estado:</p>
			<select th:field="*{uf}" id="select-uf">
				<option value="AC">AC</option>
				<option value="AL">AL</option>
				<option value="AP">AP</option>
				<option value="AM">AM</option>
				<option value="BA">BA</option>
				<option value="CE">CE</option>
				<option value="DF">DF</option>
				<option value="ES">ES</option>
				<option value="GO">GO</option>
				<option value="MA">MA</option>
				<option value="MT">MT</option>
				<option value="MS">MS</option>
				<option value="MG">MG</option>
				<option value="PA">PA</option>
				<option value="PB">PB</option>
				<option value="PR">PR</option>
				<option value="PE">PE</option>
				<option value="PI">PI</option>
				<option value="RJ">RJ</option>
				<option value="RN">RN</option>
				<option value="RS">RS</option>
				<option value="RO">RO</option>
				<option value="RR">RR</option>
				<option value="SC">SC</option>
				<option value="SP">SP</option>
				<option value="SE">SE</option>
				<option value="TO">TO</option>
			</select>
		</div>
			<p>Cidade</p>
			<input type="text" name="cidade" id="cidade" th:field="*{cidade}">
			<p for="bairro">Bairro</p>
			<input type="text" name="bairro" id="bairro" th:field="*{bairro}">
			<p for="rua">Endereço</p>
			<input type="text" name="rua" id="rua" th:field="*{rua}">
			<p>Número da residência</p>
			<input type="text" name="numero" id="numero" placeholder="número ou s/n" th:field="*{numero}">
			<p for="complemento">Complemento (opcional)</p>
			<input type="text" name="complemento" id="complemento" placeholder="Apartemento, sala, conjunto, andar, etc." th:field="*{complemento}">
		</div>
		<input type="submit" value="Cadastrar" id="registrar-btn">
	</form>
	</div>
</body>
</html>