*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: rgb(150, 197, 150);
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(44, 133, 32);
  }
  
  li {
    float: left;
    display: inline;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }