*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: rgb(150, 197, 150);
}

ul {
  list-style-type: none;
    overflow: hidden;
    background-color: rgb(44, 133, 32);
  }
  
  li {
    float: left;
    display: inline;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }

  #banner{
    width: 100%;
  }
  
  #lista-loja{
    margin-left: 30%;
    margin-top: 10px;
}

#lista-loja td{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

#lista-loja table{
    border-collapse: collapse;
    position: relative;
}

#lista-loja table, th, td{
    border: 1px solid black;
}

#lista-loja th{
    background-color: rgb(44, 133, 32);
    color: white;
}

#botao-contato{
  text-align: center;
}