<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSemana3="myCode">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="icon" href="public/favicon.ico" type="image/x-icon"/>
    <title>PWeb - by allenBruno</title>
</head>
<body>
	<ul>
		<li><a href="/"><span class="material-icons md-18">
			home
			</span> Início </a></li>
		<hr />
		<li><a href="public/noticias.html"><span class="material-icons md-18">
			web
			</span> Canais de notícias</a></li>
		<hr />
		<li><a href="/adicionarPessoa" id="active"><span class="material-icons md-18">
			person_add
			</span> Adicionar pessoas</a></li>
		<li><a href="/listarPessoas"><span class="material-icons md-18">
			people
			</span> Listar pessoas</a></li>
		<hr />
		<li><a href="public/sobre.html"><span class="material-icons md-18">
			info
			</span> Sobre o site</a></li>
		<li><a href="public/contato.html"><span class="material-icons md-18">
			email
			</span> Mande um e-Mail</a></li>
	</ul>
    <div class="conteudo">
    <h1>Fomulário para cadastro de pessoas:</h1>
    <form 
    	method="POST" 
    	th:object="${pessoa}" 
    	th:action="@{/adicionarPessoa}">
    	<div class="form">
            <label>Nome completo*:</label>
            <input type="text" name="nome" id="nome" placeholder="Seu nome completo" th:field="*{nome}" required>
            <br>
        </div>
        <div class="form">
            <label>Data de nascimento*:</label>
            <input type="date" name="data" id="data" th:field="*{dataNascimento}" >
        </div>
        <div>
            <label>e-Mail*:</label>
            <input type="text" name="mail" id="mail" placeholder="nome@dominio.com" th:field="*{email}" required>
        </div>
        <div class="form" id="box">
            <p class="sexo" id="sexo">Gênero*:</p>
            <p><input type="radio" name="sexo" id="sexo1" value="Masculino" th:field="*{genero}" required>Masculino</p>
            <p><input type="radio" name="sexo" id="sexo2" value="Feminino" th:field="*{genero}"  required>Feminino</p>
            <p><input type="radio" name="sexo" id="sexo3" value="Não Informado" th:field="*{genero}" required>Não informar</p>
        </div>
        <button type="reset" class="button" title="Limpar">Limpar</button>
        <button type="submit" class="button" title="Adicionar">Adicionar!</button>
    </form>
    </div>
</body>
</html>