<!DOCTYPE html>
<html lang="pt_br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta codigoSemana3="myCode">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
<link rel="icon" href="public/favicon.ico" type="image/x-icon"/>
<title>PWeb - by allenBruno</title>
</head>
<body>
	<ul>
		<li><a href="/"><span class="material-icons md-18">
			home
			</span> Início </a></li>
		<hr />
		<li><a href="public/noticias.html"><span class="material-icons md-18">
			web
			</span> Canais de notícias</a></li>
		<hr />
		<li><a href="/adicionarPessoa"><span class="material-icons md-18">
			person_add
			</span> Adicionar pessoas</a></li>
		<li><a href="/listarPessoas" id="active"><span class="material-icons md-18">
			people
			</span> Listar pessoas</a></li>
		<hr />
		<li><a href="public/sobre.html"><span class="material-icons md-18">
			info
			</span> Sobre o site</a></li>
		<li><a href="public/contato.html"><span class="material-icons md-18">
			email
			</span> Mande um e-Mail</a></li>
	</ul>
	<div class="conteudo">
		<h1>Lista de pessoas cadastradas</h1>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>Nome completo</th>
					<th>Data de Nascimento</th>
					<th>e-Mail</th>
					<th>Sexo</th>
					<th>Editar</th>
					<th>Remover</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pessoa: ${pessoas}">
					<td th:text="${pessoa.id}"></td>
					<td th:text="${pessoa.nome}"></td>
					<td th:text="${#temporals.format(pessoa.dataNascimento, 'dd/MM/yyy')}"></td>
					<td><a th:href="'mailto:' +${pessoa.email}"th:text="${pessoa.email}"></a></td>
					<td th:text="${pessoa.genero}"></td>
					<td><a th:href="@{/editar/{id}(id=${pessoa.id})}"><span class="material-icons md-18" id="edit" title="Editar">mode_edit</span></a></td>
					<td><a th:href="@{/remover/{id}(id=${pessoa.id})}"><span class="material-icons md-18" id="remove" title="Remover">person_remove</span></a></td>
					</tr>
			</tbody>

		</table>
	</div>
</body>
</html>