<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSecreto="1696690584">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="icon" href="public/favicon.ico" type="image/x-icon"/>
    <title>AgroPopShop - by allenBruno</title>
</head>
<body>
	<ul>
		<li><a th:href="@{/}">Início</a></li>
		<li><a th:href="@{/adicionarCliente}">Cadastro de clientes</a></li>
		<li><a th:href="@{/listarClientes}">Listar Clientes</a></li>
		<li><a th:href="@{/admin/adicionarProduto}">Cadastro de produtos</a></li>
		<li><a th:href="@{/admin/listarProdutos}">Listar produtos</a></li>
		<li style="float:right"><a href="#about">Sobre o Site</a></li>
	  </ul>
	<h1>Página da Loja</h1>
</body>
</html>
